<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Some Website</title>
</head>
<body>
    <h1>Site Under Maintenance</h1>
    <p>Well be right back</p>
</body>
</html>